# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# Environment variables
.env
env.json

# Node.js (frontend)
front/node_modules/

# OS
.DS_Store
Thumbs.db
